	<div class="partone">
		<div class="news">
			<p>获取furla资讯</p>
			<div id="pos">
			<input type="email" name="newsearch" id="newsearch" placeholder="请输入你的电子邮箱" /><a href="javascript:;">确定</a>
			</div>
		</div>
		<div class="fun">
			<dl>
				<dt><a>FONDAZIONE FURLA</a></dt>
				<dd><img src="/static/images/fz1.png"/></dd>
			</dl>
		</div>
		<div class="social">
			<dl>
				<dt>FURLA SOCIAL</dt>
				<dd>
					<a href=""><i class="iconfont icon-weixin"></i></a>
					<a href=""><i class="iconfont icon-weibo1"></i></a>
				</dd>
			</dl>
		</div>
	</div>
	
	<!--复选框-->
	<div class="parttow">
		<label>
		<input type="checkbox" name="" id="" value="" />
			<span id="">
				
			
			I HAVE READ THE PRIVACY NOTICE AND DECLARING TO BE OLDER THAN 16 YEARS, I WISH TO RECEIVE BY E-MAIL NEWSLETTERS ABOUT FURLA EVENTS, DISCOUNTS, EXCLUSIVE PROMOTIONS, PRODUCTS AND SERVICES (GIVEN THAT MY PERSONAL DATA PROCESSED FOR THIS PURPOSE ARE: NAME AND E-MAIL ADDRESS). I UNDERSTAND THAT I CAN UNSUBSCRIBE FROM THE NEWSLETTER AT ANY TIME, FREE OF CHARGE, AND WITHOUT ANY DISADVANTAGES (OTHER THAN NOT RECEIVING THE NEWSLETTER ANYMORE) BY SENDING AN EMAIL TO PRIVACY@FURLA.COM OR BY USING THE UNSUBSCRIBED LINK IN THE EMAIL I WILL RECEIVE.
			</span>
		</label>
	</div>
	<div class="partthree">
		<dl>
			<dt>能为您效劳吗?</dt>
			<dd><a href="javascript:;">FAQ </a></dd>
			<dd><a href="javascript:;">隐私政策 </a></dd>
			<dd><a href="javascript:;">Cookie政策 </a></dd>
			<dd><a href="javascript:;">联系我们 </a></dd>
			<dd><a href="javascript:;">致电客服热线400-168-8066 </a></dd>
		
		</dl>
		
		<dl>
			<dt>客户服务</dt>
			<dd><a href="javascript:;">付款详情 </a></dd>
			<dd><a href="javascript:;">发货详情 </a></dd>
			<dd><a href="javascript:;">退货政策 </a></dd>
			<dd><a href="javascript:;">商品护理 </a></dd>
		
		</dl>
		
		<dl>
			<dt>仔细甄选</dt>
			<dd><a href="javascript:;">尺码表 </a></dd>
		
		</dl>
		
		<dl>
			<dt>FURLA WORLD</dt>
			<dd><a href="javascript:;">各地专卖店 </a></dd>
			<dd><a href="javascript:;">最新动态 </a></dd>
			<dd><a href="javascript:;">Fondazione Furla </a></dd>
	
		</dl>
		
		<dl>
			<dt>职业招聘</dt>
			<dd><a href="javascript:;">加入我们 </a></dd>
		
		</dl>
		
	</div>
	<div class="partfour">
		<p>	© Copyright - Furla 2019 - P.IVA IT00610091209 | 孚丰商贸（上海）有限公司</p>
		<p>license icon沪公网安备 31011202006742号| 沪ICP备17047117</p>
		
		<p>电子营业执照</p>
	




	</div>
