			<content>
			<div class="header-left">
				<span >
					<img src="/static/images/q.png"/>
					CN
				</span>
				<span id="fg">|</span>
				<a href="javascript:;" class="language">
					Chinese
				</a>
			</div>
			<div class="header-title">
				<div id="logo"><img src="/static/images/logo.png"/></div>
			</div>
			<div class="header-right">
				<span class="usernameshow"></span>
				<ul class="header-right-list" >
					<li class="login-btn"><a href="javascript:;"><i class="iconfont icon-wode1"></i></a></li>
					<li><a href="/html/shopcar.html"><i class="iconfont icon-gouwudai-copy"></i></a></li>
					<li><a href="javascript:;"><i class="iconfont icon-icon--103"></i></a></li>
					<li><a href="javascript:;"><i class="iconfont icon-sousuo1"></i></a></li>
				</ul>
				
			<!--登录弹窗-->
			<div class="login-window">
				<a href="/html/login.html">登录</a>
				<a href="/html/register.html">注册</a>
			</div>
			
			<!--购物袋弹窗-->
			<!--右边弹窗-->
				<div class="modal-right">
					
				</div>
				
			</div>
			</content>
			<nav>
				<ul id="nav">
					<li><a href="javascript:;">SALE</a></li>
					<li><a href="javascript:;">女士</a></li>
					<li><a href="javascript:;">男士</a></li>
					<li><a href="javascript:;">最新动态</a></li>
					<li><a href="javascript:;">FURLA WORLD</a></li>
					<li><a href="javascript:;">专卖店</a></li>
					<li><a href="javascript:;">GIFTS</a></li>
				</ul>
				<div class="tab">
					<div class="woman-list stay">
						<!--选项卡内容-->
						<div class="img"><img src="/static/images/FURLA_CRUISE19_WISHES_001_ADV_078_RGB-2.jpg"/></div>
						<ul class="listA">
							<li><a href="/html/list.html">新品</a></li>
							<li><a href="/html/list.html">METROPOLIS</a></li>
							<li><a href="/html/list.html">手袋</a></li>
							<li><a href="/html/list.html">迷你手袋</a></li>
							<li><a href="/html/list.html">背包</a></li>
							<li><a href="/html/list.html">钱包</a></li>
							<li><a href="/html/list.html">小皮具</a></li>
							
						</ul>
						<ul class="listB">
							<li><a href="">MYPLAYFURLA</a></li>
							<li><a href="">配饰</a></li>
							<li><a href="">鞋履</a></li>
						</ul>
					</div>
					<div class="furla-world stay">
						<!--选项卡2内容-->
						<ul>
							<li><a href=""> FURLA历史</a></li>
							<li><a href=""> 意大利传承</a></li>
							<li><a href=""> 全球化公司</a></li>
							<li><a href=""> FONDAZIONE FURLA</a></li>
						</ul>
					</div>
					
				</div>
			</nav>
			
			<div id="totop">
				<p>↑</p>
			</div>