			<content>
			<div class="header-left">
				<span >
					<img src="static/images/q.png"/>
					CN
				</span>
				<span id="fg">|</span>
				<a href="javascript:;" class="language">
					Chinese
				</a>
			</div>
			<div class="header-title">
				<div id="logo"><img src="static/images/logo.png"/></div>
			</div>
			<div class="header-right">
				<ul class="header-right-list" >
					<li class="login-btn"><a href="javascript:;"><i class="iconfont icon-wode1"></i></a></li>
					<li><a href="javascript:;"><i class="iconfont icon-gouwudai-copy"></i></a></li>
					<li><a href="javascript:;"><i class="iconfont icon-icon--103"></i></a></li>
					<li><a href="javascript:;"><i class="iconfont icon-sousuo1"></i></a></li>
				</ul>
				
			<!--登录弹窗-->
			<div class="login-window">
				<a href="/login.html">登录</a>
				<a href="/register.html">注册</a>
			</div>
				
			</div>
			</content>
			<nav>
				<ul id="nav">
					<li><a href="javascript:;">SALE</a></li>
					<li><a href="javascript:;">女士</a></li>
					<li><a href="javascript:;">男士</a></li>
					<li><a href="javascript:;">最新动态</a></li>
					<li><a href="javascript:;">FURLA WORLD</a></li>
					<li><a href="javascript:;">专卖店</a></li>
					<li><a href="javascript:;">GIFTS</a></li>
				</ul>
				<div class="tab">
					<div class="woman-list">
						<!--选项卡内容-->
						<div><img src=""/></div>
						<ul><li><a href=""></a></li></ul>
						<ul>
							<li><a href=""></a></li>
						</ul>
					</div>
					<div class="furla-world">
						<!--选项卡2内容-->
					</div>
					
				</div>
			</nav>
			
