
header{
    width: 100%;
    height: 150px;
    background: white;
    z-index: 10;
    position: fixed;
    top: 0px;
    }
.ac{        
        position: fixed;
        top:0px;
        width: 100%;    
        height: 150px;
        
    }
content{
    margin: 0 auto;
    width: 96%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}
#logo{
    padding-top:50px ;
    }
.header-left{
    width: 230px;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-weight: 600;
    font-size: 15px;
}

.language{
    display: inline-block;
    height: 20px;
    width: 80px;
    text-decoration: none;
    color: black;
    background: url(/static/images/timg.jpg) no-repeat 61px 6px;
}

#fg{
    color: #e5e5e5;
    font-weight: 100;
}
#nav {
    display: flex;
    justify-content: center;
    margin-top:20px ;
 
}
#nav li{
    list-style:none;

}
#nav a{
    color: black;
    padding: 0 15px;
    font-size: 13px;
    font-weight: 600;
}
#nav a:hover{
    font-weight: 600;
    text-decoration: underline;
}
.header-right{
    
}

.header-right-list li{
    float: left;
    font-size: 20px;
    padding: 10px 10px;
}

.header-right-list li i{
    font-size: 20px;
    color: #82734e;
}
.header-right-list li i a{
    display: inline-block;
    width: 10px;
    height: 10px;   
}
.login-window{
    position: absolute;
    left: 892px;
    top: 35px;
    width: 200px;
    height: 100px;
    background: #f5f5f5;
    text-align: center;
    line-height: 2.5;
    display: none;
  
    
}
.login-window a{
    display: inline-block;
    width: 180px;
    height: 35px;
    margin: 6px; 
    border: 1px solid #7b6b43;
}
.login-window a:nth-child(1){
    color: white;
    background: #7b6b43;
}
.login-window a:nth-child(2){
    color: #7b6b43;
    background:#f5f5f5;
}


.loginshow{
    display: block;
}

//选项卡

.woman-list{
    width: 100%;
    height: 238px;
    display: none;
    position: absolute;
    left: 0px;
    top: 138px;
    }
.furla-world{
    width: 100%;
    height: 60px;
    display: none;
    position: absolute;
    left: 0px;
    top: 138px;
    ul{
        width: 100%;
        padding-top:20px ;
        display: flex; 
        justify-content: space-around;
        a{
                font-weight: bold;
                 font-size: 12px;
        }
    }
    }

.navshow{
    display:block;
    }
    
.stay{
    background: #f5f5f5;
}

.woman-list{
// padding-top: 20px;
    box-sizing: border-box;
    float: left;
    position: relative;
    top: 0px;
    .img{
        position: absolute;
        top:20px;
        left: 290px;
        img{
        display: inline-block;
        width: 290px;
        height: 189px;
         float: left;
    }
    }
    .listB{float: left;
            position: absolute;
            top:20px;
            left: 795px;
            line-height: 1.7;
        a{    
        cursor: pointer;
        letter-spacing: 0.02em;
        color: #333;
        font-weight: bold;
        font-size: 12px;
        
        }
    }
    .listA{float: left;
         position: absolute;
         top:20px;
         left: 597px;
         line-height: 1.7;
        a{    
        cursor: pointer;
        letter-spacing: 0.02em;
        color: #333;
        font-weight: bold;
        font-size: 12px;
         }
        }
   
}
#totop{cursor: pointer;display: none;position: fixed;bottom: 20px;right: 20px;width: 40px;height: 40px;background: #ccc;border-radius: 50%;color: #fff;font-size: 28px;font-weight: 900;text-align: center;line-height: 40px;}
