@import "./component/style.scss";
@import "./component/header.scss";
@import "./component/footer.scss";


main{
    margin-top:150px ;
}
.table{
    width: 60%;
    margin: 20px auto;
    text-align: center;
    min-height: 300px;
    th{
         width: 20%;
        text-align: center;
        height: 50px;
        line-height: 50px;
    }
    tr{
        height: 60px;
        line-height: 50px;
        line-height: 60px;
        
    }
   
}
h2{
    padding-top: 20px;
    font-weight: 100;
    text-align: center;
}

//shoppigncar 样式
#shopcar{
    margin-top: 20px;
}
#box{
    h2{
        padding-top: 20px;
        font-weight: 100;
        text-align: center;
    }
}

.zs-num{
     
            margin: 0 10px;
            display: inline-block;
            color: black;
            text-decoration: none!important;
            width: 30px;
            height: 30px;
            border: 1px solid #7b6b43;
            text-align: center;
            line-height: 30px;    
}
.delBtn{
    color: #616161;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none!important;
}

.shop-price{
    font-size: 1.5rem;
    color: #7B6B43;
    letter-spacing: 1.5px;

}

.allmoney{
    font-size: 1.5rem;
    color: #7B6B43;
    font-weight: 600;
    letter-spacing: 1.5px;
}

#money{
    font-size: 1.8rem;
    color: #7B6B43;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.money-prev{
     font-size: 1.8rem;
    color: #7B6B43;
    font-weight: 600;
    letter-spacing: 1.5px;
}
.golist{
    font-size: 12px;
   i{
       padding-left: 20px;
   }        
   a{ 
       font-size: .75rem;
    text-decoration: none!important;
    color: #616161;
    font-weight: bold;
    position: relative;
    line-height: 1;
    background-color: transparent;
    text-transform: none;
    padding: 0;
    padding-left: 4px;
    height: auto;
    
    }
}
.golist a:hover{
    color: black;
}

.gocheck a:hover{
   color: black;
}

.lastbtn{
    display: flex;
    justify-content: space-between;
    .gocheck{
    margin-right: 30px;
        a{
    font-size: .75rem;
    text-decoration: none!important;
    color: #616161;
    font-weight: bold;
    position: relative;
    line-height: 1;
    background-color: transparent;
    text-transform: none;
    padding: 0;
    padding-left: 4px;
    height: auto;
        }
    }
}
