@import "./component/style.scss";
@import "./component/header.scss";
@import "./component/footer.scss";

main{
margin-top: 150px;
min-height: 600px;}

.listtitle{
    margin-top: 150px;
    box-sizing: border-box;
    width: 100%;
    height: 145px;
    background: #f1f1f1;
    text-align: center;
      
    h3{
    font-size: 2rem;
    line-height: 2.125rem;
    font-family: "Didot",sans-serif;
    font-weight: bold;
   padding-top: 30px;
    padding-bottom: 20px;
    letter-spacing: .03125rem;
    }
    p{
        font-size: 14px;
        span{
              letter-spacing: .03125rem;
              color: #c1c1c1;
        }
    }
}

//左列表

ul { list-style: none; }
a { text-decoration: none; color: black;}
body {
   font-family: 'Dosis', sans-serif;
}
#menu-wrapper {
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}
.shoppingtitle{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    letter-spacing: .03125rem;
    color: #000;
    line-height: 1.5;   
    margin-left: 20px;
    
    span{
        font-weight: 900;
    }
}

.shoppingtitle:hover{
    color: #8a8686;
    text-decoration: underline;
    
}
#menu-wrapper #hamburger-menu {
    position: relative;
    width: 25px;
    height: 20px;
    margin: 15px;
  
}

#menu-wrapper #hamburger-menu span {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    color: black;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 0;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 9px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 18px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    top: 9px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    left: -60px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    top: 9px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}
#menu-container .menu-list {
    padding-left: 0;
    display: block;
    position: absolute;
    width: 100%;
    max-width: 340px;
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
    left: -100%;
}

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    font-size: 12px;
    padding: 20px;
    text-transform: uppercase;
    border-top: 1px solid #dbdcd2;
}
#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: 12px;
    position: relative;
    letter-spacing: 1px;
    padding-left: 40px;
    
}
  .accordion-content {
    display: none;
}

.accordion-toggle a:before, .accordion-toggle a:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    margin-top: -1px;
    background-color: #5a5858;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s ease-out;
}

.accordion-toggle a:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    opacity: 1;
    z-index: 2;
}

.accordion-toggle.active-tab {
  font-weight:900;
  transition: all 0.3s ease;
}
.accordion-toggle a.active:before {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #fff !important;
}

.accordion-toggle a.active:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #fff !important;
    opacity: 0;
}

//左列表结束


//渲染详情页css
#list-item{
    width: 100%;
    ul{
     margin-left: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-flow: wrap;
    
     li{
        width: 33%;
        margin-bottom: 60px;    
        }
       .title{    
           letter-spacing: .03125rem;
           font-weight: 600;
           text-align: center;
           text-transform: uppercase;
           font-size: .75rem;
           padding: 10px;
           } 
       .price{
           text-align: center;
           font-weight: 600;
            font-size: .8125rem;
            line-height: .9375rem;
            color: #7B6B43;
       }
       
    }
}


