@import "./component/style.scss";
@import "./component/header.scss";
@import "./component/footer.scss";

#div{
    overflow: hidden;
    margin-top: 150px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
